[2021-03-18 02:57] andress134 opened #1 "Some help"
Hello sir @aw1875 , im testing your repo, but some wrong

[code]

[2021-03-18 12:20] aw1875 commented on #1
Do you mind sharing your code for context?

[2021-03-18 17:13] andress134 commented on #1
I have a golang script, that call to this lib to bypass hcaptcha
Calling to your repo, get the hcaptcha answer, and return it on my golang script
here is my exemple golang script

[code]

[2021-03-18 17:53] aw1875 commented on #1
@andress134 Never seen this issue before. Try updating your node version and make sure you have all the correct modules installed for the demo. The demo uses:

[code]
And obviously this package as well.

Also, I'm going to assume it has something to do with your OS as you said you're running Debian 9. I'm not sure what puppeteer's limitations are on Debian so I feel like that is the root of this p

[2021-03-19 04:19] #1 closed

[2021-03-19 13:01] andress134 commented on #1
Problem has from my debian yes, have installed ubuntu and it look working
I still have a question
I have a golang script, that called to hcaptcha solver get answer and return it on my script
I used since with old hcaptcha-solver, now i tried with your but something wrong, idk

Bypass golang function (bypass.go)

[code]

Script that call to hcaptcha repo to get sitekey  (sitekey.js)

[code]

And sc

[2021-03-19 13:11] aw1875 commented on #1
@andress134 Honestly don't know much about Go as I've never worked with it unfortunately. Another person is currently working on a GoLang solver based on my module as referenced [here](https://github.com/JimmyLaurent/hcaptcha-solver/issues/13#issuecomment-802518827). If you want you can try and reach out to him to see if you cna work on something together or you can check his progress out [on his

[2021-03-20 00:17] JustTalDevelops commented on #1
I might be a bit late, but if you're still on the lookout for a GoLang solver, I made my own implementation based on this repository and completed it just now as @aw1875 mentioned. You can check it out [here if you're interested.](https://github.com/JustTalDevelops/hcaptcha-solver-go)

[2021-03-28 13:49] klotein opened #2 "Error: Evaluation failed: TypeError: Cannot read property 'src' of null"
const puppeteer = require('puppeteer-extra')
const pluginStealth = require('puppeteer-extra-plugin-stealth')
const vision = require("@google-cloud/vision");

const { hcaptchaToken } = require('puppeteer-hcaptcha');

const client = new vision.ImageAnnotatorClient({
  keyFilename: "test.json",
});

puppeteer.use(pluginStealth());

(async () => {

    let token = await hcaptchaToken('https://nooooder

[2021-03-28 13:50] klotein commented on #2
i tried on windows and linux(debain) i got some Error: Evaluation failed: TypeError: Cannot read property 'src' of null

[2021-03-28 13:58] klotein commented on #2
(node:5312) UnhandledPromiseRejectionWarning: Error: Evaluation failed: TypeError: Cannot read property 'src' of null
    at __puppeteer_evaluation_script__:5:6
    at ExecutionContext._evaluateInternal (C:\Users\ops\node_modules\puppeteer\lib\cjs\puppeteer\common\ExecutionContext.js:218:19)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at async ExecutionContext.evalu

[2021-03-28 14:28] aw1875 commented on #2
Thats a cloudflare site. The solver doesn't currently work on cloudflare sites but I will work on fixing this now. Thanks for reporting the issue to me!

[2021-03-28 14:54] aw1875 commented on #2
Looks like a few things are different for this websites hcaptcha responses. I'm not entirely sure if this is a universal case for all cloudflare hcaptcha responses but I have fixed this issue. Do you mind sending me a few other sites that use cloudflare to test out if this fix is universal for them all?

[2021-03-28 14:57] klotein commented on #2
https://cfcaptcha.audiograb.net/hit

[2021-03-28 15:00] klotein commented on #2
Probably universal. Because this pages are test pages.

[2021-03-28 15:04] aw1875 commented on #2
@klotein perfect I'll double check now and push a fix if thats true

[2021-03-28 15:08] klotein commented on #2
waiting sir, good luck

[2021-03-28 15:09] aw1875 commented on #2
Seems like its universal. Going to run a few more quick tests and then a fix will be pushed! Again, thanks for bringing this to my attention.

[2021-03-28 15:10] klotein commented on #2
You're welcome.

[2021-03-28 15:12] aw1875 commented on #2
I was currently in the process of making the image recognition better so that responses were faster so just gotta revert those changes quickly so it'll take a few minutes

[2021-03-28 15:17] aw1875 commented on #2
New patch is up, enjoy!

[2021-03-28 15:17] #2 closed

[2021-04-06 11:32] gitvitox opened #3 "Using without an "submit" button"
Hey,

on some HCaptcha protected sites there aren't any "submit" buttons like in your example.

If you try to register an account on Discord for example.

Are there any ways to solve this? I know on Recaptcha there was an `callback` function. But I don't know too much about HCaptcha.

Thanks:)

[2021-04-06 14:10] aw1875 commented on #3
I haven't ever tried to use the discord website for this but you can try something like this:

1.  Fill out for form using Puppeteer like normal.
2.  Call the solve hcaptcha method.
3.  Once the method has solved the hcaptcha you can try something like `await page.keyboard.press('Enter')` or `await page.type(String.fromCharCode(13))` to submit the page.

Not entirely sure if this works but let me

[2021-04-06 16:45] lomso23 opened #4 "TypeError: browser.userAgent is not a function"
(node:12404) UnhandledPromiseRejectionWarning: TypeError: browser.userAgent is not a function
    at hcaptcha (/test/test/node_modules/puppeteer-hcaptcha/hcaptcha.js:148:35)

Hello, i am getting this error when i use your"https://github.com/aw1875/puppeteer-hcaptcha/blob/master/demos/solve.js"  demo.
Token demo is working good. But this not, thanks.

[2021-04-06 17:32] aw1875 commented on #4
Are you using the most recent version of the hCaptcha module? The most recent version has made changes to the code so if you're using the demo of the newest version but the code of an older version there would be an issue.

[2021-04-06 22:28] lomso23 commented on #4
yes, i was tried update not worked, and i got files manuel and im calling like this "const { hcaptcha } = require('./hcaptcha.js);"
but now im getting "wrong response".

[2021-04-07 00:10] aw1875 commented on #4
Do you mind attaching the hcaptcha.js file? I've never seen this issue so would love to fix this issue if its a problem I can fix

[2021-04-07 11:13] lomso23 commented on #4
it your hcaptcha.js file on your files.

[2021-04-07 11:30] aw1875 commented on #4
Please attach the actual file and any relevant screenshots of the errors. As I said that code doesn't exist anymore in the code so I need to figure out why you are getting this problem.

[2021-04-07 11:34] lomso23 commented on #4
browser.userAgent error solved, i removed old puppeteer-hcaptcha module in node_modules, i installed new version.

PS C:\Users\lomso\Desktop\puppeteer-hcaptcha-master (1)\puppeteer-hcaptcha-master> node .\test.js
Wrong response. Retrying.
Wrong response. Retrying.
Wrong response. Retrying.
Wrong response. Retrying.

[2021-04-07 11:34] lomso23 commented on #4
im using your demo, just i added my captcha page

[2021-04-07 11:37] aw1875 commented on #4
Ok thats what I expected it was an old version. The wrong answer just means it submitted the wrong answers and it happens sometimes if googles image recognition is not being super accurate. If you dont mind me asking what website you are trying to solve?

[2021-04-07 12:00] lomso23 commented on #4
https://2captcha.com/demo/hcaptcha and tried on cloudflare captcha page,

im getting "Wrong response. Retrying." for 2captcha demo page, getting "Error: Evaluation failed: TypeError: Cannot set property 'value' of null" for cf captcha

[2021-04-07 12:07] aw1875 commented on #4
Thats very odd. I just tested https://2captcha.com/demo/hcaptcha and it worked with no issue so I'm not sure what is the problem. Also which cloudflare site? Want to double check how their requests are being sent.

[2021-04-07 12:13] lomso23 commented on #4
token response is working, im getting error when i try submit like on your demo like your gif [https://github.com/aw1875/puppeteer-hcaptcha/blob/master/images/demo.gif](url)

[2021-04-07 12:15] aw1875 commented on #4
Just to be clear, you're using await on your submit function right? Otherwise it will try to submit the form before the function has placed the response in the correct fields.

[2021-04-07 12:26] lomso23 commented on #4
actually im using this codes

// Require puppeteer extra, puppeteer stealth, google vision
const puppeteer = require('puppeteer-extra')
const pluginStealth = require('puppeteer-extra-plugin-stealth')
const vision = require("@google-cloud/vision");

// Require our hcaptcha method
const { hcaptcha } = require('puppeteer-hcaptcha');

// Instantiate a new Google Vision Client
// This is important so m

[2021-04-07 12:26] lomso23 commented on #4
and adding my url

[2021-04-07 12:47] aw1875 commented on #4
And you're putting in your google credentials correct?

[2021-04-07 13:18] lomso23 commented on #4
yes sir, because token response working.

[2021-04-07 13:27] aw1875 commented on #4
I'm not entirely sure what the issue is then unfortunately.

[2021-04-09 21:29] aw1875 commented on #3
Haven't heard anything in a few day so I am going to close this issue

[2021-04-09 21:29] #3 closed

[2021-04-14 22:48] aw1875 commented on #4
Closing this as I haven't heard anything in a few days

[2021-04-14 22:48] #4 closed

[2021-04-21 18:45] byOsta opened #5 "Token received but invalid"
When I try to solve a captcha the token generated is not working. The only thing that I've seen different is that the page that I'm trying to bypass is using ¿HSW? I don't really know if I'm correct or not, but I think that is the only difference.

[2021-04-21 23:51] aw1875 commented on #5
@byOsta do you mind sharing the page you're trying so I can see if requests are different?

[2021-04-22 17:01] byOsta commented on #5
I don't want to disclose publicly the captcha that I'm trying to bypass, so I've sent you and email (The one in your resume on your webpage) with all the info about it.

[2021-04-23 02:24] aw1875 commented on #5
@byOsta seems like the solver was getting the token before even having to send any real requests so I'm going to push the fix for that in a second. Looks to be working fine now.
![image](https://user-images.githubusercontent.com/36057494/115809088-7872d180-a3b9-11eb-949e-43a552e8d09b.png)

[2021-04-23 02:29] aw1875 commented on #5
Fix should be pushed, I'm going to close this issue but if you have another problem just open a new issue and I will look into it.

[2021-04-23 02:29] #5 closed

[2021-04-23 11:18] byOsta opened #6 "Still same token not working issue"
On the mentioned webpage with this new changes It's still not working. I've been testing to try to understand a little more about this.

I've seen that the "hsl", "hsw", "hsj", changes when the `userAgent` is changing.
So, when I load the page on my chrome normally, this first call (https://hcaptcha.com/checksiteconfig) It's always "hsw" but with this package, the response is "hsl" almost every ti

[2021-04-23 14:51] aw1875 commented on #6
My apologies, I guess I was very tired yesterday as the code I pushed doesn't actually do anything and is what is supposed to happen. I am going to take a look at it now as I am able to get the correct response token so I want to check through the requests now as you talked about above.
![image](https://user-images.githubusercontent.com/36057494/115889263-ca4f4200-a421-11eb-8c6d-f72358baccd1.png)

[2021-04-23 21:49] aw1875 commented on #6
Alright I believe I found where the issue is coming from. I need to look through the requests to make sure I can find a solution to the problem and then I can hopefully push a fix in the next few hours.

[2021-04-23 23:06] aw1875 commented on #6
@byOsta I have pushed a temporary fix for HSJ requests. Both HSW and HSL requests worked with no issues for me. From what I understand it looks like hCaptcha uses HSJ only for certain browser user agents. The error that you were getting was because while sending the request to get all the images using HSJ the response was returning a `fail` rather than `pass` so I was not getting any tasks. I'm wo

[2021-04-23 23:06] #6 closed

[2021-04-25 20:05] max-xoo opened #7 "hCaptcha solver do not work"
During my development it did not work, so I tested like the demo (same code and same site) and it does not work! So I can't use the package, here is the error:

answer this issue for more information.

[2021-04-25 20:48] aw1875 commented on #7
Which demo did you test out? I believe usually a circular json error from puppeteer has to do with how an element is usually selected/used. I've never encountered this issue so I would love to get to the bottom of it so I can push a fix for this if it is something on my end!

[2021-04-26 10:57] max-xoo commented on #7
Ok look:

(C:\Users\maxen\Desktop\hcaptchaBypass\node_modules\puppeteer\lib\cjs\puppeteer\common\Page.js:722:62)

The code : ```js
const puppeteer = require("puppeteer-extra")
const pluginStealth = require("puppeteer-extra-plugin-stealth")
const vision = require("@google-cloud/vision");

const { hcaptcha } = require("puppeteer-hcaptcha");

const client = new vision.ImageAnnotatorClient({
  	keyFil

[2021-04-26 11:22] #7 closed

[2021-04-26 11:22] max-xoo commented on #7
is good, just me :lol:

[2021-04-26 12:06] Jytesh opened #8 "Make Google Vision optional"
If google vision just speeds up the solving process, is it possible to make it guess random values and make the vision client completely optional?

[2021-04-26 12:16] aw1875 commented on #8
@Jytesh it is possible but there are other modules that already do that. [Jimmy Laurent's Module](https://github.com/JimmyLaurent/hcaptcha-solver/) does exactly that. The whole process behind using Google Vision here is that the solution time is exponentially faster. You can sign up for Google Vision for free with a $300 credit and it is definitely worth the setup.

[2021-04-26 13:18] Jytesh commented on #8
Jimmy Laurent's module is not updated and doesn't work :( thats the issue for me

[2021-04-26 13:29] aw1875 commented on #8
If you're comfortable with node you can fairly easily tweak my code to randomly guess answers instead of using but like I said that slows down the solution a ton

[2021-04-26 13:49] Jytesh commented on #8
Aight thanks, am doing that, how much faster is it when using google vision?

[2021-04-26 13:55] aw1875 commented on #8
Average solving time is usually 2-12 seconds with google vision and its 45+ without

[2021-04-26 13:57] Jytesh commented on #8
Aight thanks :), would you accept a PR that just uses random t/f instead of google vision incase its not provided instead of returning undefined?

[2021-04-26 13:59] #8 closed

[2021-04-26 14:07] aw1875 commented on #8
@Jytesh I'd be open to having that as an option if a user sets it to run that way. Easiest way might be to add config settings to each function.

[2021-04-26 14:33] Jytesh commented on #8
aight, thoughts on leaving request as well?

[2021-04-26 14:49] aw1875 commented on #8
by all means. I want to work on fixing HSJ requests first as thats my top priority so I'm trying to do that around my work schedule

[2021-04-29 12:56] max-xoo opened #10 "Cloud Vision Api?"
Hello, after walking your package I realized that Cloud Vision pi had to see a way to pay, it's a paid service? Then if possible, you have a method to do all this for free that would be nice.

[2021-04-29 13:22] aw1875 commented on #10
@max-xoo You can sign up for Google Vision for free and it comes with a $300 credit to start. However, someone has created a pull request to add the option to randomly solve the pictures without Google Vision (so it wouldn't need it) but it is much slower. Need to figure out what the issues are before I accept the merge request.

[2021-04-29 14:31] max-xoo commented on #10
Hello I have ! Indeed the person who did that, I saw what she did, unfortunately my captcha is in a frame (discord.com/register after being entered), so it doesn't work! Neither your code nor that of the other person who modified yours

[2021-04-29 15:57] aw1875 commented on #10
Usually all hcaptcha challenges are within an iframe. For discord you may just have to tweak some code for it to work.

[2021-04-29 22:01] lomso23 opened #11 "Error: ENOENT: no such file or directory, open './useragents.json'"
Hello again, why i am getting this error?

[2021-04-29 23:32] aw1875 commented on #11
That is an error from the last push, I will push the fix for that now. Thanks for bringing that to my attention

[2021-04-29 23:32] #11 closed

[2021-04-30 02:42] klotein opened #12 "About new update"
Hi, im here again. Your project is going well, good lucks. But im again getting similar error like before new update about for Cloudflare Hcaptcha pages.
`TypeError: Cannot read property 'type' of undefined` error here. Thanks.

[2021-04-30 12:21] aw1875 commented on #12
Do you mind giving a little more context to the error? Maybe a full stack trace if possible. Also, is it the same website as your last issue?

[2021-04-30 14:58] max-xoo commented on #10
Ok thanks !

[2021-04-30 14:58] #10 closed

[2021-04-30 22:00] klotein commented on #12
`node:7996) UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'type' of undefined
    at tryToSolve (C:\Users\ops\node_modules\puppeteer-hcaptcha\hcaptcha.js:76:18)
    at processTicksAndRejections (internal/process/task_queues.js:93:5)
    at async solveCaptcha (C:\Users\ops\node_modules\puppeteer-hcaptcha\hcaptcha.js:215:22)
    at async hcaptchaToken (C:\Users\ops\node_modules\p

[2021-04-30 22:18] aw1875 commented on #12
Thank you. I just checked the request and looks like one of the checks I had added for HSJ requests doesn't exist with cloudflare sites so I will fix that and push a fix in a few.

[2021-04-30 22:24] aw1875 commented on #12
New version should be live with the fix, let me know if there are any issues by reopening this issue!

[2021-04-30 22:24] #12 closed

[2021-04-30 23:16] klotein opened #13 "Submit Token For Cloudflare Pages"
hi, i can get token after new update. But not passing cloudflare page after add token, dou you have any idea?

Example:
document.querySelector('[name="h-captcha-response"]').value = token;
document.querySelector('.challenge-form').submit()

[2021-05-01 00:49] aw1875 commented on #13
The module doesn't natively handle any sort of submissions for cloudflare sites. I haven't really worked with many but I believe you have to create some sort of request with the token to actually submit the page. You will probably have to do some research into how exactly you can submit the token because form my knowledge you can't just submit a form with a token value for cloudflare (like you can

[2021-05-01 01:34] lomso23 commented on #13
actually i was using this method and i was passing this pages. but not worked since 2 day ago. I thoguht it did not work because need update for your project. but still i can't, i don't know what can i do.

[2021-05-01 01:37] lomso23 commented on #13
if this method fixed, it looks hard find new way. because im not js developer.

[2021-05-01 02:20] aw1875 commented on #13
@lomso23 you were able to submit cloudflare hcaptcha challenges like this?

[2021-05-01 02:43] klotein commented on #13
I think he is, beacuse it was worknig for me too.

Im using like this but it same with my example code.

**1- Im removing stlye code**
![h1](https://user-images.githubusercontent.com/65546272/116768494-b1f1af80-aa3f-11eb-8cea-46ffdc433607.png)

2- putting  the token  what opened after remove stlye code
![h2](https://user-images.githubusercontent.com/65546272/116768524-d9487c80-aa3f-11eb-89ae-7324b

[2021-05-01 02:47] aw1875 commented on #13
@klotein ya I know you can set the value but I dont think submitting that form actually sends that value to through. Not really sure how cloudflare deals with that since I've never worked with it unfortunately.

[2021-05-01 02:49] klotein commented on #13
hm okay, i think cloudflare it got update abut for this pages, because it was working.

[2021-05-01 02:50] aw1875 commented on #13
ya unfortunately not sure but I can try and take a look at the requests when I get some free time and see if I can figure it out. If I do I'll post an update here for you guys.

[2021-05-01 02:50] klotein commented on #13
Thanks, achievements.

[2021-05-01 15:01] iban79 commented on #13
I do not know if this is what you are looking for, but I do know if it is worth it.
with this command you change the ID of tyextarea h-captcha:
document.getElementsByTagName ("textarea") [0] .setAttribute ("id", "h-captcha-response");

And then with this command you send the TOKEN:
document.getElementsByClassName ('g-recaptcha-response') [0] .style.display = 'inline';
document.getElementById ("g-r

[2021-05-01 15:23] iban79 opened #14 "Error"
Could you help me? when I start .js I get this error:

D: \ Downloads \ puppeteer-hcaptcha-master \ puppeteer-hcaptcha-master> node t.js
(node: 8328) UnhandledPromiseRejectionWarning: Error: Evaluation failed: Error: ENOENT: no such file or directory, open 'C: \ UsersAdministradorDownloadsMy First Project-f2a901bcd6f9.json'
    at ExecutionContext._evaluateInternal (D: \ Downloads \ puppeteer-hcap

[2021-05-01 15:40] aw1875 commented on #14
`(node: 8328) UnhandledPromiseRejectionWarning: Error: Evaluation failed: Error: ENOENT: no such file or directory, open 'C: \ UsersAdministradorDownloadsMy First Project-f2a901bcd6f9.json'` in the stack trace means that there is an issue with your google vision auth file:

[code]

The way you point to your file isn't correct. It should be:

[code]

An easier way to do this would be just to copy t

[2021-05-01 15:40] #14 closed

[2021-05-01 15:43] iban79 commented on #14
Thank you.

[2021-05-01 16:38] klotein commented on #13
still same, can you try for this page https://cfcaptcha.audiograb.net ?

[2021-05-01 17:13] iban79 commented on #13
![Captura de pantalla (1)](https://user-images.githubusercontent.com/83496579/116789842-40eae000-aab1-11eb-8412-db665e067de2.png)

[2021-05-01 19:18] klotein commented on #13
Is it possible submit with js code? like `document.querySelector('.challenge-form').submit()`

[2021-05-06 02:49] iban79 commented on #13
If this is what you mean ...
1. Change the id of the textarea:
$ ('textarea') [1] .click (function () {
    $ (this) .attr ("id", "h-captcha-response");
});
2. Open textarea:
document.querySelector ("# h-captcha-response"). style = ""
3. Enter token. (You need to enter this point manually):
$ ('# h-captcha-response'). innerHTML = 'TOKEN'

[2021-05-06 16:39] durch2 opened #15 "Add status and solve times"
Would be helpful if you included status, solve time in the readme :)

[2021-05-06 18:40] aw1875 commented on #15
Sorry a little confused what you mean by status? In terms of solve time there are a couple very easy ways you can do this. Personally, I do this whenever I run these functions and want to know how long it takes:

[code]

This is a very simple way to get the amount of seconds the function took to run.

[2021-05-08 01:44] andress134 opened #16 "Some questions about hcaptcha/cloudflare"
Hello sir @aw1875 , this post will probably not be considered, as we are dealing with this libraye.
I tested your library, but on some sites it doesn't work the way I would like, and the solve  time is quite long.

So I decided to make some changes (tricks) to the old library, cloudscraper.
Everything seemed to work perfectly, for a few days until cloudflare made a new update and the library stopp

[2021-05-08 02:15] aw1875 commented on #16
@andress134 Long solve times are usually related to Google Cloud Vision. They are quite fast with rate limiting and since this script is sending 9-18 pictures at a time sometimes it happens very quickly. What sites were you having troubles with so I can take a look at why?

[2021-05-08 03:37] #16 closed

[2021-05-11 06:11] durch2 commented on #15
Cool, status as in if it works or not, you could add some CI/CD that prints out time taken as well and adds it to readme too, wonderful project love it

[2021-05-11 06:11] #15 closed

[2021-05-18 13:15] aw1875 commented on #15
@durch2 I can add the ability to run the functions in a verbose mode if you'd like. I feel like that option would be useful because you would be able to see its status in the process of solving as well.

[2021-05-21 20:24] svaldnuk opened #17 "How to use it"
Could someone send me an example of how to use it?

[2021-05-22 16:04] aw1875 commented on #17
You can checkout the examples in the [README](https://github.com/aw1875/puppeteer-hcaptcha/blob/master/README.md) ir you can use the files in the [demos folder](https://github.com/aw1875/puppeteer-hcaptcha/tree/master/demos).

[2021-05-22 16:04] #17 closed

[2021-05-25 00:20] svaldnuk opened #18 "how to use it"
I have tried to do it but I don't know how to configure the google-cloud / vision, some example of how to use it, please?

[2021-05-25 00:58] aw1875 commented on #18
The demo files show how to configure Google Cloud Vision. You just need the file from your Google Cloud Dashboard. Google has a few tutorials on how it if you still need help.

[2021-05-25 00:58] #18 closed

[2021-05-25 00:59] aw1875 commented on #13
Seems like theres been no activity on this issue in quite a while so I'm going to close it. Feel free to reopen it if you guys need.

[2021-05-25 00:59] #13 closed

[2021-07-18 17:23] straxus opened #19 "Error during hCaptcha post-solve token set call - selector g-recaptcha-response not found"
I'm seeing the following error being thrown from within the hCaptcha code during an attempt to solve a CloudFlare hCaptcha:

[code]

Looking at hcaptcha.js, I see that this is the function which appears to be failing:

[code]

This implies that it completed the captcha solving process but then blew up afterwards because one of these fields was not present - when I debugged this, I found that `g-re

[2021-07-19 20:40] landaida commented on #19
I tested many many times and the hcaptcha never solved for me

[2021-07-19 21:51] aw1875 commented on #19
I believe hCaptcha has changed something major as I've been seeing that a bunch of the solvers are not working now. I'm a little busy with work right now but I will try to take a deep dive look at it soon and see if I can reverse whatever change they made and fix this issue.

[2021-07-21 10:16] aw1875 commented on #19
@straxus @landaida I have a potential fix but not sure if its the actual fix since I don't have time to test. If you guys want to try it out let me know and I can let you know what to do

[2021-07-21 10:58] landaida commented on #19
Hi @aw1875 I have time to test, thanks

[2021-07-21 11:42] landaida commented on #19
Hi @aw1875 check my improvements, now I get tokens but the site that I tried to scrap doesn't accept this token as a good token

[hcaptcha.js](https://gist.github.com/landaida/ae1bce58184bdb8dc35b0532a38e4976)

[2021-08-28 11:20] KkjusTkk7074 opened #20 "Gcloud vision Mandatory?"
Is gcloud vision Mandatory?

[2021-09-04 17:01] yavuz-bektas opened #21 "Wrong Challenge Type. Retrying."
Hello,

I'm trying to use with initial page (demo codes) but I'm receiving below code

`Wrong Challenge Type. Retrying.
Wrong Challenge Type. Retrying.
`

[2021-11-18 15:14] return-true-if-false commented on #19
I heard that they also use a callback function to encrypt the token, though I'm not sure how true this information is ([2captcha blog post](https://2captcha.com/blog/hcaptcha-cloudflare-en))

[2021-12-07 06:28] aw1875 commented on #20
The way the package works is by utilizing Google Cloud's Vision to find the correct images and solve the captcha

[2021-12-07 06:28] #20 closed

[2021-12-07 06:29] aw1875 commented on #21
Sorry I was super busy with classes. I have updated the NPM package as well as the repo to dynamically get the version for solving so it shouldn't have any issues anymore. If there are still issues please reopen this issue so I can look into it.

[2021-12-07 06:29] #21 closed

[2021-12-07 06:30] aw1875 commented on #19
Hi everyone! I was busy with school but have updated the NPM package as well as this repo to dynamically get the version needed for the assets. This should solve any issues that were present but please let me know if you still encounter an issue.

[2021-12-07 06:37] aw1875 commented on #19
Also, as for this. It seems hCaptcha had removed this part of the solution a while ago and I just hadn't updated the files yet. Should be all fixed in the most recent version.

[2021-12-09 01:25] DanielMedina114 opened #22 "Demo not working"
I have downloaded the latest version v4.0.1, however I am unable to run successfully the solve.js from the demo:

[code]

I added the URL https://2captcha.com/demo/hcaptcha/ on line 34 of solve.js
I am not particularly familiar with JavaScript, maybe I am missing something.

[2021-12-09 15:16] aw1875 commented on #22
@DanielMedina114 you mind sending me a few things so I can look into it? I'll need to see all your code and either a photo or a description of your files hierarchy so I can narrow down the issue.

[2021-12-09 18:00] aw1875 commented on #19
I will be closing this issue due to inactivity. If anyone has any other issues feel free to open a new one so I can look into it!

[2021-12-09 18:00] #19 closed

[2021-12-11 08:16] Ubnlqs opened #23 "taking too much time"
[code]
it takes lot of time ( 40 seconds )
Can I fix it?

[2021-12-11 08:19] aw1875 commented on #23
It's TensorFlow related. With Google's Cloud Vision it would finish around 5-10 seconds but Google recently changed their system so people have to play and I figured people wouldn't want to do that. If enough people are interested I can reintroduce Google's Vision again and have the option between that or TensorFlow.

[2021-12-11 19:29] JokersCat commented on #23
Oh that would be amazing I’m completely new in js and only know Python quite good.So some code looks simular to py so yeah I will try to use it I guess and thx for the work and please add google vision back 😂

[2021-12-11 19:33] JokersCat commented on #23
I think people are interested to pay because there are websites where you have to solve a hcaptcha to get registered and this registered accounts can get soled for a bit 😅

[2021-12-11 21:25] aw1875 commented on #23
@JokersCat Honestly, the main issue is that you can't use threading in Node. If threading was *really* possible I could definitely speed up the process by running all the image detection processes at once. I was thinking about maybe looking into trying to incorporate something like calling a C# class for this. Also, I'm almost finished finals so I will try to work on adding the option for Cloud Vi

[2021-12-11 21:32] JokersCat commented on #23
Oh okay I saw that you made something before in Python would it be possible to you to make maybe a Python library on that? 😅

[2021-12-11 22:07] aw1875 commented on #23
@JokersCat this project was based off of [this python repo](https://github.com/Futei/SineCaptcha) initially. I haven't worked with Python in a very long time so I probably wouldn't attempt to make this into a Python library

[2021-12-11 23:50] JokersCat commented on #23
Oh okay 🥲 And the Python thing you linked is complete different I think it’s patched (I don’t tested it) so the thing worked like only requesting with the Site-key + Site and then hcaptcha gives you the pass 😂 but your thing is complete different with image recognition etc. so it would be Great if you could do it in Python.Anyways I will try to make it but I don’t got the time to do it 🥲 but I wil

[2021-12-12 14:07] JokersCat commented on #23
Would you attempt it for money 🧐

[2021-12-12 15:24] aw1875 commented on #23
@JokersCat take a look [at this repo](https://github.com/h0nde/py-hcaptcha). I feel like this is what you’re looking for in Python.

[2021-12-12 16:22] JokersCat commented on #23
Oh okay thx and do you got a tip for me how I could inject a hcaptcha token into a website? (with the browser console)

[2021-12-12 16:30] aw1875 commented on #23
Ya for sure, its actually super easy. I'll write an example using [pyppeteer](https://github.com/pyppeteer/pyppeteer) (a Python version that tries to replicate puppeteer). Once you get your token (however you decide to do that) you would do something like this:

[code]

I just want to note that you may have to look a little more into the documentation of pyppeteer to confirm this is accurate if yo

[2021-12-13 05:29] JokersCat commented on #23
Oh okay thank you I used selenium before.There you can use a command something like driver.execute_script or something like that.

[2021-12-13 19:31] JokersCat commented on #23
But that doesnt worked for me so idk :( I actually searched about this topic and found other people got the same issue but none of them got a solution :(

[2021-12-13 19:32] aw1875 commented on #23
As long as your token is right you just need to set the value of the queryselector I sent above. There is nothing else to do once you get the token

[2021-12-14 13:06] aw1875 commented on #23
I'm going to close this issue as it has been addressed 54c8451e9816318e49ce49369abba22fd70a85b0

[2021-12-14 13:06] #23 closed

[2021-12-14 20:42] LipeTadeu opened #24 "Node js version"
Hi, how are you?
What is the best version of node.js to run this project?
I am using this Latest LTS Version: 16.13.1 (includes npm 8.1.2) but it is not going well.
Thanks.

[2021-12-14 20:44] aw1875 commented on #24
I believe I'm on Node v16.5.0 but it shouldn't make a difference. Are you having issues with the project?

[2021-12-14 20:59] LipeTadeu commented on #24
Hi, thanks for the quick reply.
yes i am, it is failing when i use npm i puppeteer-hcaptcha command to install.
It is crashing and generating an error in the installation of tensorflow.
I'm using it on windows.
Thanks.

[2021-12-14 21:02] aw1875 commented on #24
If you want to attach the stack trace I can look into it and see if I can figure out the issue for you

[2021-12-14 21:07] LipeTadeu commented on #24
Perfect, I want it.
I will process installation caught error for you. print and put here and error messages.
Thank you very much for your availability.

[2021-12-14 21:39] LipeTadeu commented on #24
Hello Here is an error generated.
C:\Users\lipet\Desktop\test\puppeteer-hcaptcha\demos>node solve.js
2021-12-14 18:36:32.627727: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations: AVX2
To enable them in other operations, rebuild TensorFlow

[2021-12-14 22:08] LipeTadeu commented on #24
Hello Now you can install ok.
Everything feels right.
the only problem now is this.

2021-12-14 19:04:01.925462: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following instructions CPU in performance-critical operations: AVX2
To enable them in other operations, rebuild TensorFlow with the approp

[2021-12-14 23:07] aw1875 commented on #24
The tensorflow warning is a known issue, see [here](https://github.com/aw1875/puppeteer-hcaptcha/blob/master/README.md#known-issues). It doesn't have any real effect on the process so it should be fine. The demo page doesn't actually press the submit button once completed, did you make sure you're doing that?

[2021-12-15 00:21] LipeTadeu commented on #24
So I processed the token return script, but it didn't print the response either.
Shouldn't it print the token?

[2021-12-15 00:48] aw1875 commented on #24
You mind sharing your project structure and code?

[2021-12-15 01:09] LipeTadeu commented on #24
Not even.
I'm running your example script which returns token.

// Require our hcaptchaToken method
const { hcaptchaToken } = require('puppeteer-hcaptcha');

(async() => {
  // Create Start Time
  const startTime = Date.now();

  // Call hcaptchaToken method passing in your url
  let token = await hcaptchaToken('https://2captcha.com/demo/hcaptcha');

  // Get End Time
  const endTime = Date.now();

[2021-12-15 02:33] deadly opened #25 "[Bug]: tensorflow/tfjs-node dependency issue"
When installing puppeteer-hcaptcha, it fails to install due to the tfjs-node depency.

**To Reproduce**
Steps to reproduce the behavior:
1. npm i puppeteer-hcaptcha

Error:
[code]

Any idea on how to get around this? I've tried updating Node.

[2021-12-15 07:18] fachryansyah commented on #22
same here demo not working,
logs :
[code]

Env:
[code]

code:
[code]

File hierarchy :
[code]

[2021-12-15 07:19] fachryansyah commented on #22
same here demo not working,
logs :
[code]

Env:
[code]

code:
[code]

File hierarchy :
[code]

[2021-12-15 12:11] LipeTadeu commented on #24
Strange indeed, but it really won't. I'm in Brazil, I don't know if this has anything to do with it.
anyway thank you very much for your availability to help me, your project is very cool.

[2021-12-16 02:15] aw1875 commented on #22
@fachryansyah what happens if you change this line

[code]

[2021-12-16 02:18] aw1875 commented on #24
Appreciate it! I wish I could be more helpful but I'm not entirely sure what the issue is unfortunately.

[2021-12-16 13:35] LipeTadeu commented on #24
Hi, I appreciate it.
Just one more question, would you have and would it be possible to send me the project that used Google Vision?
It could be a link to download or something like that, I don't know if it's on file.
Or email me.
Thanks.

[2021-12-16 19:57] timbru31 commented on #22
Same issue with the code from your comment.
Running macOS 11.6.2 (20G311) with Node.js v17.2.0 and Version 97.0.4691.0 (Developer Build) (x86_64) via
[code]

[2021-12-16 20:08] timbru31 commented on #22
Maybe this helps you - this is the example site that renders the hCaptcha. It's actually not in an iFrame
[hcaptcha.zip](https://github.com/aw1875/puppeteer-hcaptcha/files/7730127/hcaptcha.zip)

[2021-12-16 20:14] timbru31 commented on #22
Another guaranteed captcha is just visiting: https://www.mediamarkt.de/de/product/_sony-playstationr5-fifa-22-dualsense-controller-midnight-black-2778294.html

[2021-12-16 20:24] aw1875 commented on #22
@timbru31 Just checked the source for the page you sent and it is being loaded in an iframe as well. It looks like I need to update my code to look for a new source of the file though so I can make those changes now. Thanks for the heads up.

[2021-12-16 20:32] aw1875 commented on #22
Just tested with the new changes using the website you provided and it looks to be working now.  It does take slightly longer since it has to wait for the hcaptcha element to actually load (see results below):

[code]

I will push the fix shortly!

[2021-12-16 21:31] timbru31 commented on #22
Thanks for the quick fix, however still hitting `Error: Execution context is not available in detached frame "about:blank" (are you trying to evaluate?)`. I'll see if a different operating system makes a difference. I mainly develop on macOS, software runs on arm linux. I can test Windows, too.

[2021-12-16 22:34] aw1875 commented on #22
@timbru31 did you try [this suggestion](https://github.com/aw1875/puppeteer-hcaptcha/issues/22#issuecomment-995376945) in reference to the about:blank issue? I can test the code on Mac in a bit if you tried that and the same issue still presents itself.

[2021-12-16 22:46] timbru31 commented on #22
Yes, that did not do the trick. I've patched the puppeteer code (line 370 in DomWorld.js to `if (!this._hasContext() || this._detached)`)

This does solve the issue, but I assume the captcha solving itself is not working. (I've just done a form submit on the page to have a reload that should in theory redirect me)

Comparing what's submitted when solving the captcha manually vs with the plugin I'v

[2021-12-17 22:13] hogdamian commented on #25
same problem here.. cant solve it

[2021-12-18 03:58] aw1875 commented on #25
@hogdamian Unfortunately you'll need to look through the issues in the [TensorFlow repo](https://github.com/tensorflow/tfjs/issues) for TensorFlow related problems. I don't know enough about their system to be helpful in finding a solution

[2021-12-18 03:59] aw1875 commented on #24
@LipeTadeu I'll try to make a new branch with all the updated code using Google Vision in the next few days just been a little busy unfortunately.

[2021-12-18 04:03] aw1875 commented on #22
@timbru31 this plugin only really solves for the hcaptcha response token value. It's honestly meant for simple integration and unfortunately because of this it seems like for anyone that wishes to do anything more complex most of the work is on them. I could definitely be interested in looking into expanding on this project to make it a full fledged hcaptcha solver but I don't currently have the t

[2021-12-18 14:51] LipeTadeu commented on #24
thank you so much. I'm waiting.

[2021-12-22 08:12] aw1875 commented on #22
I believe I have realized the issue many people were having here. I modified the [ghost-cursor](https://github.com/Xetera/ghost-cursor) package to include a timestamp (which is required for requests) but didn't process the fact that my changes would only work for me. I have created a pull request for the ghost-cursor repo with these changes that will fix these issues. If my request doesn't get acc

[2021-12-22 08:12] #22 closed

[2021-12-23 09:25] Oberonskii opened #26 "[Question]: Still working?"
Hello!
Is this project still working at solving hcaptcha?

[2021-12-23 10:30] Oberonskii commented on #26
Also, I can't still it with npm. I tried it on Window, CentOS and Ubuntu... None worked...

[2021-12-23 15:20] aw1875 commented on #26
`npm i puppeteer-hcaptcha` should install it. What issue are you encountering?

[2021-12-23 16:21] Oberonskii commented on #26
Thats the error I am getting:
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent An unknown git error occurred
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\user\AppData\Local\npm-cache\_logs\2021-12-23T16_20_24_970Z-debug-0.log

Wh

[2021-12-23 16:28] aw1875 commented on #26
Can you attach the full log please at `:\Users\user\AppData\Local\npm-cache_logs\2021-12-23T16_20_24_970Z-debug-0.log`. I just created a new [codesandbox](https://codesandbox.io/s/vigorous-wave-wecng?file=/src/index.js) and it installed with no issues. The only issue with the sandbox was rebuilding tensorflow which is expected.

[2021-12-23 16:29] aw1875 commented on #26
Also might be worth taking a look at [this stackoverflow answer](https://stackoverflow.com/questions/56987664/npm-err-enoent-undefined-when-running-npm-install) to make sure this isn't your issue.

[2021-12-23 17:00] Oberonskii commented on #26
After installing I got a new error:
0 verbose cli [
0 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
0 verbose cli   'C:\\Users\\nknik\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
0 verbose cli   'i',
0 verbose cli   'puppeteer-hcaptcha'
0 verbose cli ]
1 info using npm@8.3.0
2 info using node@v16.13.1
3 timing npm:load:whichnode Completed in 0ms
4 timing config:load:defaults

[2021-12-23 17:27] aw1875 commented on #26
@Oberonskii Please just attach the file

[2021-12-23 18:05] Oberonskii commented on #26
Here you go[](url
[2021-12-23T17_55_15_116Z-debug-0.log](https://github.com/aw1875/puppeteer-hcaptcha/files/7770816/2021-12-23T17_55_15_116Z-debug-0.log)
)

[2021-12-23 18:14] aw1875 commented on #26
@Oberonskii the issue is related to tensorflow see #25. I will be closing this issue as it is now a duplicate and I have no control over this issue so it needs to be resolved through the tensorflow github. My understanding from the log file is that you need visual studio installed since I believe tensorflow uses tools from it to build but like I said you need to check with their repo.

[2021-12-23 18:14] #26 closed

[2021-12-23 18:31] Oberonskii commented on #26
Okey. I will install Visual Studio

[2021-12-23 19:05] aw1875 commented on #24
@LipeTadeu sorry for the wait. Google Cloud Vision version has been pushed to the branch [GoogleCloudVision](https://github.com/aw1875/puppeteer-hcaptcha/tree/GoogleCloudVision). It won't be packaged as a node module but you can still clone the code and run it if you'd like to. I will be closing this issue now but you can reopen it if you really need to.

[2021-12-23 19:05] #24 closed

[2021-12-23 20:11] Oberonskii opened #27 "[Question]: Doing wrong?"
Okey... So it installed correctly now, but it it not really working. When it is solving, there is nothin in the console, only the Tensorflow warning... I will submit the code I am executing here
What am I doing wrong?

[solve.txt](https://github.com/aw1875/puppeteer-hcaptcha/files/7771199/solve.txt)

[2021-12-23 21:06] aw1875 commented on #27
Please read the documentation. The code you've taken from the documentation example is for automatically setting the value within the browser. You haven't added any sort of code to submit the page or notify you in the console to submit the page once completed. If you look at this part of the code

[code]

It explains it there. For your example using 2captcha's demo site you'd want to either add

[

[2021-12-23 21:08] aw1875 commented on #25
@deadly @hogdamian It looks like the problem is solved by installing Visual Studio on your computer see #26. After installing Visual Studio they were able to run the code.

[2021-12-23 21:08] #25 closed

[2021-12-23 22:25] Oberonskii commented on #27
Hello! I now added a line, where it is printing the token. That worked one time, but now it is stuck at the same point again as at the beginning.
Screenshot:
![hcaptcha](https://user-images.githubusercontent.com/80541525/147296233-3ed0e3c0-ea8d-4cae-8ce0-16af07842682.png)

[2021-12-23 22:27] aw1875 commented on #27
The tensorflow warning is noted in the known issues part of the documentation. It has no impact on the functions of the program. Is that what you are talking about?

[2021-12-23 22:27] Oberonskii commented on #27
No. I mean that there is nothing more happening when I run the code/program

[2021-12-23 23:55] aw1875 commented on #27
Try the token verison, does it return a token?

[2021-12-24 07:14] Oberonskii commented on #27
No. It doesnt...
I ran the code with the chrome tab over night, and got this in my console:

throw new Error('Evaluation failed: ' + helper_js_1.helper.getExceptionMessage(exceptionDetails));
                  ^

Error: Evaluation failed: StatusCodeError: 400 - {"c":{"type":"hsw","req":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzIjoxNiwidCI6InciLCJkIjoiYzNTOTdKNkNDaXdVbXRsbElHWVVuNXR4azliL3F0TVA2cld

[2021-12-24 08:27] aw1875 commented on #27
Thats not the token thats the request response that gets used multiple times through the solving process. Missing data could mean a few things, sometimes it just happens an you have to retry.

[2021-12-24 08:56] Oberonskii commented on #27
Oh, wow. That means that it never worked for me… Tried about 20 times

[2021-12-24 08:58] aw1875 commented on #27
Interesting, something is being left out of the request somehow in that case. I can take a look at it on a different computer later today and see if I can replicate the issue

[2021-12-24 09:00] Oberonskii commented on #27
Would be very thankful. Thank you for the help

[2021-12-24 22:50] Oberonskii commented on #27
How is it doing?

[2021-12-25 08:57] aw1875 commented on #27
Took a look at it. Looks like I'm getting the same issue on multiple computers. It seems either hCaptcha has modified their requests or something is breaking within the code (doesn't seem like it though as I walked through it and the request looked fine). I will try to break down hCaptchas responses sometime next week when I have more time to see if I can figure out what is wrong.

[2021-12-25 09:46] Oberonskii commented on #27
Okey, thanks for the help

[2021-12-27 14:25] VersaceXcodes opened #29 "[Question]: Site key paramter"
is it possible along with the url we input the sitekey of the captcha?

[2021-12-27 14:46] VersaceXcodes opened #30 "[Bug]:"
**Describe the bug**
error when try to do on discord.com/register

Error: Evaluation failed: StatusCodeError: 400 - {"c":{"type":"hsw","req":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzIjoxNiwidCI6InciLCJkIjoiUVhYanVwWmVhR2pTSkFkNSt5RmhQbXZ3NG4xUGIyY0xuUEJJbXZMNnA5VTgvTUJ3VGxUUmtEb2JxdWlIZlZ4VjF3T2NxOFdZSVBlWWcrUldyQzBWaUJvckxNa1U3dExKdjU0UWpMQ3huKzJMSmgrUEM2QlNHcCtrNG5uTzlna2dxZmFJbFFoc1NMaFhFWEl2b

[2021-12-27 19:59] eboujlal commented on #30
Same error here

[2021-12-27 20:34] aw1875 commented on #30
Pretty sure discord uses a modified version if I remember correctly, which is not supported. Regardless, if they do or not it seems like hCaptcha made some changes to the requests so I have to take some time to go through it again see #27.

[2021-12-27 20:35] aw1875 commented on #29
Part of the code gets the sitekey and the host so it minimizes the chance for user error. If you need to reopen this issue you may but I am going to close it for now since I don't intend on making those changes.

[2021-12-27 20:35] #29 closed

[2021-12-27 20:41] aw1875 commented on #27
Very odd but I just tried it again without making any modifications and it succeeded on the second attempt (failed responses do happen).

![image](https://user-images.githubusercontent.com/4970015/147505738-4993fe1e-b302-4821-874f-c63327f7fa2e.png)

Not entirely sure what the issue is for other's besides maybe the part that [ghost-cursor](https://github.com/Xetera/ghost-cursor) has not yet merged

[2021-12-27 21:49] Oberonskii commented on #27
Alright 👍

[2021-12-27 23:45] aw1875 commented on #27
@Oberonskii I pushed the changes so let me know if it works now or you can close yourself.

[2021-12-28 02:48] eboujlal opened #31 "[Bug]: Hcaptcha is meeming with us"
**Describe the bug**
After 4 hours me and my friend Norbyy looking why car is not equal to car and why train is not equal to train ... then after we run out of logic, he said imagine if that a is not like the other a, we start laughing on it, but it's true. hCaptcha is using Greek letters to replace some letters like e,a,o,c ....

**To Reproduce**
Steps to reproduce the behavior:

1. You need to a

[2021-12-28 03:26] eboujlal commented on #31
by the way it's cyrillic letters

[2021-12-28 04:24] aw1875 commented on #31
I'm a little confused by this but by the sounds of it you're saying there are issues on websites in another language? Is this correct? If it is would you mind sharing the website you're trying so I can look into it.

[2021-12-28 05:00] eboujlal commented on #31
Hey, its discord.com and language of the website is english, we added some codes to your library to its work. Also there is another problem which i will specify in another issue

[2021-12-28 05:03] eboujlal opened #32 "[Bug]: Puppeteer is working with a proxy but the captcha solution sent without proxy"
You may need to think about sending requests inside your main code with Puppeteer page variable.

[2021-12-28 05:40] eboujlal commented on #31
Here is my discord if you need some help or screenshare

iiRaven19#7510

[2021-12-28 09:42] Oberonskii commented on #31
@eboujlal You got it working on discord? Could you share it?

[2021-12-28 09:43] Oberonskii commented on #27
I still have the same problem…

[2021-12-28 14:44] eboujlal commented on #31
Make a real profile first, don't leech bro

[2021-12-28 15:08] Oberonskii commented on #31
You don‘t have to share it, if you dont want ro. I was just asking

[2021-12-28 17:00] #31 closed

[2021-12-28 17:00] #32 closed

[2021-12-28 17:07] aw1875 commented on #27
@Oberonskii did you update to the newest vesion?

[2021-12-28 18:19] Oberonskii commented on #27
I reinstalled the package with npm

[2021-12-29 17:47] Lukpier commented on #30
Hi @aw1875,

Is there any chance to make it work with Discord hCaptcha?
I tried last changes on your code and it works with simple demo on 2captcha.

I can help in developing the functionality, if you need.

[2021-12-29 19:17] aw1875 commented on #30
@Lukpier If people want it to solve discord hcaptcha it’s up to them to add that functionality. If you create it and want to make a pr I’d be more than happy to merge the changes but this is a side project for me so I’m personally not interested in adding that functionality. I know it can easily be done as I’ve seen multiple people make the modifications already

[2021-12-31 16:07] Krid86abc opened #33 "Errors Installing"
Hi, i would love to rest your module, but i can't get it work.
I am using node 10, and receive following error after installing it with npm i:

Error: The Node.js native addon module (tfjs_binding.node) can not be found at path: /home/dbellstaedt/node_modules/@tensorflow/tfjs-node/lib/napi-v7/tfjs_binding.node.

I use Linux on Chromebook. .
Any Ideas?

Best Regards

[2022-01-01 21:08] slpkbt commented on #27
same issue

[2022-01-03 16:36] aw1875 commented on #33
This is something that you'll have to check the [TensorFlow Repo](https://github.com/tensorflow/tfjs/issues) about. I'm not entirely sure what their support for chromebook is.

[2022-01-04 09:25] Krid86abc commented on #33
I solved it by updated all dependencies, now it works like a charm :)

[2022-01-04 09:25] #33 closed

[2022-01-04 20:25] Krid86abc opened #34 "How to use with Cloudflare HCatcha"
Hi,
Great Work!
But it seems not to work with Cloudflare HCatpcha Tokens like on this [site](www.mediamarkt.de).
Can you have a look to it?
I tried to generate the CaptchaAnswer with your Code, with which you can pass the Captcha , and set a fetch request from the page, but i receive always following response:
`{"c":{"type":"hsw","req":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzIjoyLCJ0IjoidyIsImQi

[2022-01-04 22:14] pedraohenrique opened #35 "[Question]: How to work in AWS Lambda?"
Hi there!

I'm trying to run Puppeter Hcaptcha in a AWS Lambda Function, but it can't be done because of Tensorflow library. The original issue [are here](https://github.com/tensorflow/tfjs/issues/2817#issuecomment-594793192).

Can anyone help me?

[2022-01-05 05:53] aw1875 commented on #34
You mind sending the actual url that contains the captcha on it so I can run some tests?

[2022-01-05 05:55] aw1875 commented on #35
Based on the issue you referred to it doesn't look like theres anything you can do to run this within an AWS Lambda Function. I personally don't have any experience in this area so I can't be of any help unfortunately so I will leave the issue open in case somebody in the future stumbles upon it and can help.

[2022-01-05 05:57] Krid86abc commented on #34
Sure, you can find it [here](https://www.mediamarkt.de) and `[here](https://www.saturn.de)`, just delete cookies or refresh a little bit

[2022-01-05 06:02] aw1875 commented on #34
Refreshed both multiple times and never received a captcha. If there’s a more reliable section of either site that would be the best chance for me to look into it.

[2022-01-05 06:08] Krid86abc commented on #34
Maybe with a direct Link like [this](https://www.mediamarkt.de/de/product/_sony-ps5-marvels-spider-man-miles-morales-ultimate-edition-2715826.html)

[2022-01-05 07:11] Krid86abc commented on #34
If you have a VPN, just test it with a Country like Russia ;)

[2022-01-06 00:58] unnellu opened #36 "[Question]: Error: The specified module could not be found. return process.dlopen("
[Question]: Error: The specified module could not be found.  return process.dlopen
![image](https://user-images.githubusercontent.com/16254772/148311087-4e7905b8-696c-4ca8-a0a2-14b74188dc3c.png)
Windows Server 2012

[2022-01-06 18:24] Krid86abc commented on #34
@aw1875 Did you had success forcing the captcha?

[2022-01-07 08:13] netlocks opened #37 "[Question]: Hello, how to solve Cloudflare hCaptcha?"
For example this website: https://en.homepricehk.com/valuation/Baguio_Villa/Block_16/10/A/23/.

[2022-01-07 17:29] aw1875 commented on #37
The `hcaptchaToken` method will return the token for cloudflare hcaptcha as well. Assigning the token and submitting the form from that point is up to the user however they would like to do that.

[2022-01-07 17:32] aw1875 commented on #36
This looks like a tensorflow error and should be checkout out in their [issues](https://github.com/tensorflow/tfjs/issues)

[2022-01-08 21:43] Krid86abc commented on #34
The Site uses a Custom Callback Function, which can be graped with this:
`window.myInterval = setInterval(() => {
    if (window.hcaptcha) {
        console.log('hcaptcha available, lets redefine render method')
        // if hcaptcha object is defined, we save the original render method into window.originalRender
        window.originalRender = hcaptcha.render
        // then we redefine hcaptcha

[2022-01-10 01:18] netlocks commented on #37
Cloudflare conducted an encryption callback

[2022-01-10 02:37] aw1875 commented on #34
@Krid86abc I just updated the format of your code but I'm a little confused by your question. What exactly do you mean by "Do i have this Function after receiving the token?"?

[2022-01-10 02:38] aw1875 commented on #37
@netlocks Take a peak at #34. I believe [this function](https://github.com/aw1875/puppeteer-hcaptcha/issues/34#issuecomment-1008159633) might be what you're looking for. I'm not entirely sure what you are looking for though.

[2022-01-10 17:06] Krid86abc commented on #34
@aw1875 Thank You.
If you solve the captcha, and take a look to the Dev Console Network Log, you will see, that first the hcaptcha.com/checkcaptcha is called, then the custom callback function, and then the form is submitted and redirects you to the page.
So maybe i have to call this callback function directly after receiving the hcaptcha token?

[2022-01-19 15:50] henzycuong1 opened #38 "Help me converting to .NET"
Hi everyone, I'm trying to send a post request to "https://hcaptcha.com/checkcaptcha/${key}?s=${sitekey}". I got 403 status every time. I wrote my code on .NET. So, I hope someone can help me figure this problem out ?. Thank you very much.

This is my code:

[code]
And this is body I got after replacing
[code]
It can be parsed by JSON.parse() on javascript.
Thank you.

[2022-01-19 16:10] aw1875 commented on #38
The request you're sending is for checking the answers. Without looking too deep into the code I notice that you're not sending the answers correctly in the request which I assume is why you're getting a 403 (403 meaning your answers are wrong). Your request body should be:

[code]

The only change I made was `body["answer"] = answer;` to `body["answers"] = answer`. Again this was just a quick gla

[2022-01-19 16:31] henzycuong1 commented on #38
Thank you for replying me. I have changed but it did not work.
But I sent a post request to "https://hcaptcha.com/getcaptcha?s={siteKey}" by this code
[code]
It worked. I don't know what difference between this code and the above code. I have checked the output but there are no differences.

[2022-01-19 16:44] aw1875 commented on #38
The request for the code you just provided is for retrieving the captcha information. This will return the basic information needed to solve the captcha such as the image being looked for as well as an array of the images. The request you send in your first message was for verifying your answers and getting the token used to solve the captcha. The request in this comment (getting the captcha data)

[2022-01-19 16:54] henzycuong1 commented on #38
Yes, so I don't know what I did wrong when sending a verified answers request. I hope you can help me. I have tried a lot of times and a lot ways, but I couldn't.
Thank you very much.

[2022-01-19 17:01] aw1875 commented on #38
I'll be honest, the verification request is the most complex because there are so many things that can go wrong. I will try to take a deeper look at your code tomorrow when I have some free time but unfortunately today I don't really have the time. If you want to share me with more of your code so I can try and walk through it all that would be appreciated.

[2022-01-19 17:08] henzycuong1 commented on #38
Obviously, how can I send my code to you ? Twitter, Email or Telegram ?
Thank you for helping me.

[2022-01-19 17:08] aw1875 commented on #38
I'd also suggest trying to get it working with something like [RestSharp](https://restsharp.dev/) to make sure that it's nothing related to formatting your requests. If you're able to get it all working properly with something like that then you can narrow down your issue which will make this much easier.

[2022-01-19 17:08] aw1875 commented on #38
You can email me your code if you'd like: wolfy@soxada.com

[2022-01-19 17:12] henzycuong1 commented on #38
Thank you very much.
I'll send my code to you after I trying use RestSharp on tomorrow.

[2022-01-20 04:49] henzycuong1 commented on #38
I sent a email to you.
Thank you very much.

[2022-01-21 04:16] henzycuong1 commented on #38
Hi, I'm again.
I tried using your code to send a verified answers request to a test server, and this's what I received
[code]
After that, I changed my code and this's what I received.
[code]
You can see, nothing difference.
But, at the sending host, RestSharp used my ipv6 and "request-promise-native" module on Nodejs used my ipv4.
Do you think it's different?

[2022-01-21 05:46] henzycuong1 commented on #38
I found the solution. The problem is not on the body between your request and me. I just changed the "PostAsync" method to "ExecutePostAsync" method and it's working.
But I don't know why. Everything is the same, not different.
Thank you very much :D

[2022-01-22 02:35] aw1875 commented on #38
Alright thats progress. A 403 status code just means either your answers are wrong or your data is formatted incorrectly. Clearly this case is the data is not formatted correctly. From the looks of it you're missing information in your motion data. You also need to include "mm" or mouse movements. The mouse movements contain three parts.  An X coordinate, a Y coordinate, and a timestamp. The "mm"

[2022-01-22 03:39] henzycuong1 commented on #38
Actually, I included "mm" on the request and then I got 403 status. After that, I used your code to send a request to a test server. I checked your data didn't include "mm", I thought that was the difference and did like that. But I still got 403.
In addition, I checked on my browser and the "motionData" section looks like this:
[code]
And on your code, just like
[code]
But it's working. I don't k

[2022-01-22 05:22] aw1875 commented on #38
You're missing the version or "v" in your request in the code you just sent.

[2022-01-24 10:48] henzycuong1 commented on #38
So far, I embedded your code in my project and running nodejs by c#. It took me a whole week but I could not fix it.
Thank you very much.

[2022-01-28 04:00] #38 closed

[2022-01-30 13:56] Curlypla opened #39 "[Bug]: captcha not accepted"
deleted

[2022-01-30 13:56] Curlypla commented on #39
![image](https://user-images.githubusercontent.com/98696775/151702701-f3b509f1-82e4-41dd-922e-298bd0d9d7da.png)

[2022-01-30 13:57] Curlypla commented on #39
![image](https://user-images.githubusercontent.com/98696775/151702743-981ec93d-11f7-4a50-8b6c-ab2f9b7e21b4.png)

[2022-01-30 21:43] nabil-ak opened #40 "[Bug]: Captcha Solving doesent work"
**Describe the bug**
I wrote a script that do the same like yours and tries to solve the 2captcha demo captcha.
But it dosent work i just get an error with` hCaptcha solved incorrectly, please try again.` the h-captcha-response value is also undefined. The script timeouts after 100-120 seconds without an result.....
**To Reproduce**
Steps to reproduce the behavior:
1. Code block(s) with your code.

[2022-01-31 00:03] aw1875 commented on #40
Seems like theres some issues with TensorFlow. Just broke down all the code and it looks like its not correctly identifying the images which is why we're having issues. I'm going to look into some alternatives and see if I can get it working when I have some free time this week.

[2022-01-31 02:12] nabil-ak commented on #40
I found the Problem, i accidentally installed this [https://github.com/Krid86abc/puppeteer-hcaptcha](fork) of this project instead of the original one. 😅
He updated the packages in that fork and that caused the bug.

[2022-01-31 02:12] #40 closed

[2022-01-31 16:35] #39 closed

[2022-01-31 18:08] coreynorthcutt opened #41 "[Bug]: Incompatible with Heroku"
**Describe the bug**
"Bug" may be inaccurate, but the closest fit.

Heroku limits the compressed slug size to 500MB (a year ago it was 300MB). With Puppeteer, this clocks in at 635 MB.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy to Heroku
2. Read error messages
3. Cry

Example:

[code]

and

[code]

Ideal solution appears to be to adapt this to Tensorflow sub-2.0, which is a fract

[2022-02-01 00:13] nabil-ak commented on #34
@Krid86abc Hello,
Did you manage to run your callback function after you submitted the captcha?

[2022-02-01 02:18] aw1875 commented on #41
Unfortunately most of the modules cannot be removed as this package was just a simple way to solve captchas and wasn't really made with the intention of being small to be packaged for other products. I'm definitely interested in other solutions to image recognition as TF isn't exactly the fastest solution (was much faster before with Google Cloud Vision but they charge for that). If you have any s

[2022-02-01 02:20] aw1875 commented on #30
I'll be closing this issue due to inactivity but feel free to reopen it if theres anything that you need to add.

[2022-02-01 02:20] #30 closed

[2022-02-01 13:43] vap999793 opened #42 "Deprecated packages on installing"
Getting this error while installing

[code]

What to do since this is not working or is there any alternate way to resolve this? Please let me know.
Thanks

[2022-02-02 23:34] nabil-ak commented on #42
You can still use this package with the outdated dependencies

[2022-02-02 23:36] aw1875 commented on #42
Yes, the deprecated packages are just warnings. A lot of those dependencies are indirect anyways. I will be closing this issue unless you're having issues do to these warnings.

[2022-02-02 23:36] #42 closed

[2022-02-03 08:56] vap999793 commented on #42
Hi,

Thanks for the reply

`npm WARN deprecated request-promise-native@1.0.9: request-promise-native has been deprecated because it extends the now deprecated request package, see https://github.com/request/request/issues/3142
npm ERR! code 1
npm ERR! git dep preparation failed
npm ERR! command C:\Program Files\nodejs\node.exe C:\Users\VISHAL ANAND\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.

[2022-02-03 13:06] vap999793 opened #43 "Not able to install"
Hi,

`npm WARN deprecated request-promise-native@1.0.9: request-promise-native has been deprecated because it extends the now deprecated request package, see https://github.com/request/request/issues/3142
npm ERR! code 1
npm ERR! git dep preparation failed
npm ERR! command C:\Program Files\nodejs\node.exe C:\Users\VISHAL ANAND\AppData\Roaming\npm\node_modules\npm\bin\npm-cli.js install --force --c

[2022-02-03 19:37] almadrasa commented on #43
![image](https://user-images.githubusercontent.com/34221874/152416306-4adf42c2-9dba-481f-b9e1-cc92a86c7d97.png)

same issue

[2022-02-04 15:27] sshehab1 commented on #43
I have the issue

[2022-02-04 15:39] sshehab1 commented on #43
install yarn and try again
`npm install --global yarn`

[2022-02-04 15:59] sshehab1 commented on #43
my issue is with the library related to libtensorflow
[==============================] 1655247/bps 100% 0.0s
* Building TensorFlow Node.js bindings
node-pre-gyp install failed with error: Error: Command failed: node-pre-gyp install --fallback-to-build
node-pre-gyp ERR! install response status 404 Not Found on https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v4/3.13.0/CPU-windows-3.13

[2022-02-04 17:16] almadrasa commented on #43
package installed but when trying to require it :
![image](https://user-images.githubusercontent.com/34221874/152573184-5bf8da39-a4ff-4ef5-88b8-2242f8084878.png)

[2022-02-04 17:31] almadrasa opened #44 "[Bug]: error when requiring the module"
**Describe the bug**
hcaptcha is installed but an error fired when i try to require it

**To Reproduce**
Steps to reproduce the behavior:
[code]
- Any other steps needed to reproduce issue.
i'm trying to use this module on glitch (glitch.com)
node version 12.0.1 and pnpm

**Errors Received**
[code]

[2022-02-04 17:41] almadrasa commented on #44
i think it's bcuz of *ghost-cursor*
i tried to require lastest version of *ghost-cursor* and no error was fired

[2022-02-05 07:48] vap999793 commented on #43
Still not able to install the package after install yarn

[2022-02-06 08:06] popeyebot opened #45 "Using without a "submit" button"
My issue is explained here, the old repo.
https://github.com/aw1875/puppeteer-hcaptcha/issues/3

I can't submit the form after getting the answer of hcaptcha verification on discord website.

I tried your suggestions "await page.keyboard.press('Enter') or await page.type(String.fromCharCode(13)) to submit the page." but the callback isn't submitted at all.

Do you have another suggestion to solve

[2022-02-07 23:44] aw1875 commented on #45
There are projects that use this module for creating discord accounts. I'm sure if you take a look at those you can see how you can submit a form programatically.

[2022-02-07 23:44] #45 closed

[2022-02-07 23:47] aw1875 commented on #44
I've never attempted to use the module on glitch. However, the node version does seem very concerning and is probably the issue as node 12 is very far behind. I'm going to close this issue as I don't intend on making any changes to accommodate for glitch or node 12. If you are still having issues on the most recent version of node and not on glitch, please let me know and I can look into that.

[2022-02-07 23:47] #44 closed

[2022-02-07 23:50] aw1875 commented on #43
What version of node are you running? What version of npm are you running/what version of yarn are you running?

[2022-02-08 18:20] vap999793 commented on #43
npm version - 8.3.1
node version - v16.13.1
yarn version  - 1.22.17

[2022-02-08 21:57] sshehab1 opened #46 "[Bug]: not able to install the library"
npm v 6.9.0
node v12.0.0
yarn v 1.22.17

`npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated request-promise-native@1.0.9: request-promise-native has been deprecated because it extends the now deprecated request package, see https://github.com/request/request/issues/3142
npm WARN deprecated har-validator@5.1.5: th

[2022-02-10 14:42] aw1875 commented on #43
Let me try on a few different computers and see if I'm having the same issue.

[2022-02-10 14:44] aw1875 commented on #46
@sshehab1 This is a [tensorflow](https://github.com/tensorflow/tfjs) issue. Check out their repository and see if they can help with that. I also recommend updating your node version as well.

[2022-02-10 14:44] #46 closed

[2022-02-11 14:01] Bogdan1001 commented on #43
I'd the same error all work after I've updated node to 16.14.0,

[2022-02-11 17:16] timbru31 commented on #43
This is being caused because you depend on ghost-cursor git installation vs. the npm release.

[2022-02-11 18:07] vap999793 commented on #43
Still getting the same error

[2022-02-11 18:44] Bogdan1001 opened #47 "Moving model loader out of tensor function"
Hey,

I've found that the `model` is loaded each time the `tensor/1` function receives the function, this takes a lot of time. This will be more productive if load it somewhere only one time.

I'm currently fastly have moved it to the `getAnswersTF/2` and called the `tensor/1` with a second parameter like this `tensor(imgUrl, preloadedModel)`. But I think there have a better place for it, any idea

[2022-02-14 15:31] Revadike commented on #43
I had the same error, and after this I'm getting:

[2022-02-14 17:20] Ubnlqs opened #48 "[Bug]: TypeError: Cannot read properties of undefined"
Hi
I'm trying demo code

[code]
and I got this error

[code]
I don't know what's wrong on this code
Sorry for my english

[2022-02-14 17:52] aw1875 commented on #47
Honestly, I'm trying to move away from using tensorflow if possible due to size issues referenced in #41. I'm open to any other suggestions for this type of image recognition.

[2022-02-15 00:24] Ubnlqs commented on #48
const browser = await puppeteer.launch({args: [
        '--user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.0 Safari/537.36',
        '--no-sandbox',
        '--disable-setuid-sandbox',
        '--disable-infobars',
        '--window-position=0,0',
        '--lang=en-US,en',
        '--window-size=300,500',
        "--disable-features=sit

[2022-02-16 01:41] Revadike commented on #30
I may have stumbled across the same issue, but for epicgames.com

[2022-02-16 03:01] Revadike commented on #30
Not sure if related, but perhaps comparing this may help? One thing I noticed is that the `check` in the URL's are different sizes.

LEGIT REQUEST:
fetch("https://hcaptcha.com/checkcaptcha/E0_eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRhIjoiZ1F4UHZuSklrN1RzYWV0QzhBTFRtN0VqS3N2WUYxajVwMDV1QmU5MXUyT0lkemIzdGtXdXB5NitqbzNLcFJGK1pRRXVwM01qbjZkN1p5SEYxRHRNckxjY3J2VkM2UWt2YStZZjZubzl5eFJPbmo4aE5ieXpDYzJ

[2022-02-16 03:09] Revadike commented on #30
Maybe `v=f6912ef` is like a custom version for epicgames, that should be included in the requests?

[2022-02-16 03:22] aw1875 commented on #30
The version is dynamically generated based on the page the captcha is on (it takes the version script directly from the page). The code isn't designed to work on any specific sites (i.e. Discord, EpicGames) but it can definitely be modified to do so if you'd like. I've seen people make the appropriate modifications for Discord already so I know it is possible but I personally will not be modifying

[2022-02-16 03:27] aw1875 commented on #48
The user agent is set within the hcaptcha code. There might be conflicting user agent issues if you're manually setting a user agent yourself when instantiating puppeteer. I'm not entirely sure though as I've never seen or had anyone tell me they've encountered this issue.

[2022-02-16 03:30] Revadike commented on #30
What could be different?
Can you give me a push in the right direction?

[2022-02-16 03:34] aw1875 commented on #30
I wish I could be more helpful but I've never taken a look at how EpicGames processes or handles hCaptcha requests so I'm not entirely sure what the right direction would be. My suggestion would be attempting to break down how these things with solving an hCaptcha request on EpicGames and then working backwards to modify the code appropriately.

[2022-02-16 04:29] Revadike commented on #43
I can confirm that the latest update fixes this issue.

[2022-02-16 04:35] Revadike commented on #30
![image](https://user-images.githubusercontent.com/4411977/154196990-8e02a522-a4f9-4440-8d02-5ea544ba04a0.png)

Hmm, this could be the problem

[2022-02-16 04:43] Revadike commented on #30
![image](https://user-images.githubusercontent.com/4411977/154197669-13813809-df28-44d6-8559-808a55614a46.png)
![image](https://user-images.githubusercontent.com/4411977/154197683-e934108d-2913-4a12-a33e-b357d08a1317.png)
🤔

[2022-02-16 04:46] aw1875 commented on #30
By the looks of it, the image quality is probably too low and TF image recognition is having issues.

[2022-02-16 04:47] aw1875 commented on #43
I will be closing this issue later today if nobody else still has the issue.

[2022-02-16 13:51] Revadike commented on #30
I doubt that would be an epicgames specific issue? Should I try gathering some samples?

[2022-02-16 14:09] Revadike commented on #30
Hmmm, sometimes I get this
![image](https://user-images.githubusercontent.com/4411977/154281456-fb7a156a-eef6-4c0b-b8bd-385dfb208c5f.png)

And it still has all answers as `false`. I don't see how that's possible?

[2022-02-16 18:06] vap999793 commented on #43
I am able to install it but it is not able to solve the captcha, neither I am getting the token.

I have used both the codes to solve the captcha and to get the token

[2022-02-16 18:12] Revadike commented on #43
both the codes?

[2022-02-16 18:43] vap999793 commented on #43
to set the response value and to get the token

[2022-02-16 22:20] Revadike commented on #43
I don't understand your comment

[2022-02-16 22:22] aw1875 commented on #43
I understand. You're saying that you tried both manually returning the response token and automatically setting it and neither work. What website are you trying to work with and have you walked through the code with a debugger to see exactly what is happening?

[2022-02-18 01:13] Revadike commented on #30
I think I may actually start going crazy
wtf is going on

![image](https://user-images.githubusercontent.com/4411977/154598558-3fd47d5e-c2e7-4766-81ba-1f144b37c69c.png)

[2022-02-18 01:20] aw1875 commented on #30
![image](https://user-images.githubusercontent.com/4970015/154599244-8313aa03-094a-4802-9513-c7ed95f0c028.png)
Super weird, I just tried that out and don't have any issues.

[2022-02-18 01:21] Revadike commented on #30
Seems hcaptcha is doing this on purpose, it uses the omnicron character

[2022-02-18 01:22] Revadike commented on #30
![image](https://user-images.githubusercontent.com/4411977/154599450-7748cb14-78aa-43f8-baa4-aa7867306e78.png)
crazy

[2022-02-18 01:23] Revadike commented on #30
this explains why everything is "false"...

[2022-02-18 01:29] aw1875 commented on #30
Very interesting, I've never seen that before. Is that only on epicgames?

[2022-02-18 01:33] Revadike commented on #30
not sure, I haven't tested elsewhere, but I can imagine hcaptcha doing this for any user suspected of automation

[2022-02-18 01:39] Revadike commented on #30
I can't find a good solution for this, other than to manually make a map for all the special characters hcaptcha uses.

[2022-02-18 01:41] Revadike commented on #30
Maybe do this https://onlineunicodetools.com/spoof-unicode-text but in reverse

[2022-02-18 01:55] aw1875 commented on #30
I'm assuming this is only epicgames as I've done thousands of tests on other sites and have never once seen this issue but I could be wrong.

[2022-02-18 01:56] Revadike commented on #30
We can use the following map
https://github.com/vim-utils/vim-troll-stopper/blob/master/plugin/troll_stopper.vim

[2022-02-18 01:58] aw1875 commented on #30
I'm currently studying for midterms so I won't be making any changes to the code for at least a few days but this is definitely very useful so I appreciate everything you're doing.

[2022-02-18 02:09] Revadike commented on #30
apparently they are called `homoglyphs`
now I can find tons of recourses about them

[2022-02-18 09:33] Ubnlqs commented on #48
So I tried this code
[code]
but it return
[code]

[2022-02-18 16:29] aw1875 commented on #30
Since this package is a general solver I won't intend on making any changes to the package to work specifically for sites like epicgames but I'm definitely interested in hearing what you find out about solving their captchas as it may be applicable to other personal projects!

[2022-02-21 17:33] Mako-L opened #52 "[Question]: How to train it to solve them faster."
How to train the model? I'm asking because when the captcha has 2 pages it doesn't pass it.

[2022-02-22 16:32] aw1875 commented on #45
@BrokedTV theres literally a discord account generator in the [dependents](https://github.com/aw1875/puppeteer-hcaptcha/network/dependents?package_id=UGFja2FnZS0yMDE4NTg2MjI5) section of this package.

[2022-02-22 16:34] aw1875 commented on #52
The models are from TensorFlow. I don't have any models that I have trained myself.

[2022-02-23 00:28] BrokedTV commented on #45
Appreciated that, is that actually a working implementation? it seems it just get the results and that's it.

[2022-02-23 04:38] jaspreetbindra opened #53 "[Question]: Error when requiring @tensorflow/tfjs-node on Mac"
I am getting error : zsh: illegal hardware instruction  node test.js for even the demo code shared in the documentation.

Its seem like an issue for M1 chip Macs but any idea how to solve it ?  Seems like tensorflow is not building properly on the machine.

[2022-02-23 09:29] Mako-L commented on #52
And with the default model, yours passes the two pages one?

[2022-02-23 09:44] aw1875 commented on #53
Unfortunately this is more of an issue for their repo.

[2022-02-23 09:46] aw1875 commented on #52
I pass all the images that are sent back in the request. The code is all public so you can take a look through it if you'd like. The only code I don't include is just the test files.

[2022-02-23 18:12] BrokedTV commented on #3
Did you find a working solution?

[2022-02-25 16:40] badjoras7 commented on #45
@aw1875 as @BrokedTV that implementation only gets the result, doesn't continue to the next page. How to proceed with a submit button?

[2022-02-28 04:01] aw1875 commented on #45
I'm not entirely sure the best approach but I can assume that it can be submitted like a [typical form](https://stackoverflow.com/questions/14826757/how-can-one-submit-a-form-without-using-submit-button). As I said I've seen multiple people do exactly this without any issues so I'm sure you will be able to figure it out by just playing around with the code.

[2022-03-14 10:11] StasToken commented on #34
**+1** I also could not understand what to do when there is a function

[2022-03-14 10:14] StasToken commented on #34
@Krid86abc - Can I send you an offer somewhere? e-mail for example?

[2022-03-14 22:32] JokersCat opened #54 "[Question]: Could you use yolov5"
I heared yolov5 is faster and you could easily train your own models and stuff I saw captcha solver they average a time around 6 seconds per page or even lower I got times to 4secs for 4 images

[2022-03-17 04:41] aw1875 commented on #54
Never personally looked into it but I can take a look when I have some free time. Honestly quite busy right now so not sure I'll have the time to get into training any models for this for a while.

[2022-03-28 03:33] Revadike commented on #54
If you need an example:
https://github.com/QIN2DIM/hcaptcha-challenger/tree/main

[2022-03-28 11:28] Casper-dev172 opened #55 "[Question]:"
![image](https://user-images.githubusercontent.com/83128267/160388220-3943b166-7c56-4d52-b818-099d26a0d1b5.png)
hello, when using hcaptcha bypass via puppeteer, unfortunately it does not work, but it can work as hcaptcha token. My question is can I use this hcaptcha token over puppeteer?

[2022-04-09 17:10] izoomrud opened #56 "Undefined response"
Hello, I'm trying to run this script
[code]
but I get this response
![image](https://user-images.githubusercontent.com/27799550/162584253-628ffa9c-0785-414a-ba95-17a337eefddd.png)
what could be the problem?

[2022-04-16 20:39] Ryxwaer commented on #56
Hello,
I was about to make a question when I found this one so I will put it here. It looks so we may have the same problem.
I was trying to make this work for a few hours with no lusk so far. I have successfully installed `npm i puppeteer-hcaptcha`
I modified demos just by pasting following url: [https://democaptcha.com/demo-form-eng/hcaptcha.html](https://democaptcha.com/demo-form-eng/hcaptcha.h

[2022-04-17 00:50] Loko415 opened #57 "[Question]: does this still work?"
IT doesnt work for me at all even with the 2captcha demo. it says invalid responce 1 or 2 times and hangs or sometimes it says nothing at all. My cpu doesnt support avx2 could this be the issue?

[2022-04-24 15:17] franznkemaka commented on #57
@Loko415  Yes, it works as of Sun 24 April 2022, did you try in headless or non-headless mode? It looks like the headless mode works better

[2022-04-26 15:43] aw1875 commented on #57
@Loko415 I haven't had time to work on this project recently due to a busy semester so not 100% sure everything works. It seems like @franznkemaka was able to have success very recently so I'm assuming it is still working. If you'd like you can let me know what you're trying to do and where you're trying to do it (code example and website) and I can take a look into it once I finish finals.

[2022-04-26 15:47] aw1875 commented on #56
When I went to the website you're attempting to run the script on I wasn't presented with any sort of hCaptcha response. This could be the reason you are receiving undefined. It does seem like there is an hCaptcha script check when loading the site but there isn't any actual challenge to solve.

[2022-04-26 15:50] aw1875 commented on #56
The error looks like its looking for the `objectLocalization` method which doesn't exist on any recent versions of the code. That method only lives within the Google Cloud Vision SDK which has long been removed (only exists within a separate repository that was requested for continuing with the use of it). Please make sure you're using the most up-to-date version of the package which should be `4.

[2022-04-27 19:28] Ryxwaer commented on #56
Thank you for the reply. I am using most recent version 4.1.5. Even method for getting just the token isn't working for me. I tryed to reinstall it a few times but nothing changed most of the time. But when I didn't call `npm audit fix` after the instllation then It was already taking some time before failing. I still got `undefined` after trying to get captcha token by using demo and the same URL

[2022-04-29 05:30] Loko415 commented on #57
I used the 2captcha example. Tensorflow in visual studio said something
about some model not being found? Im using windows 11 and my cpu doesnt
support the avx or axv thing

On Tue, 26 Apr 2022, 16:44 Adam Wolf, ***@***.***> wrote:

[2022-04-29 22:32] franznkemaka commented on #57
@Loko415

Do you have Docker?
I recommend you to give a try using Docker, as you can use a Linux Headless machine. In most cases it is platform-agnostic

[2022-05-01 21:55] aw1875 commented on #57
This sounds more like a Tensorflow issue than an issue with my project unfortunately. You may want to look into their documentation or the issues section on their repo to see if anyone else has had a similar issue. I would also take a look at the suggestion @franznkemaka made as that may be the most suitable option for you.

[2022-05-01 21:55] aw1875 commented on #57
Since it seems like this is more of a Tensorflow issue I will be closing this issue but feel free to open it back up if you want to continue this conversation.

[2022-05-01 21:55] #57 closed

[2022-05-01 22:01] aw1875 commented on #56
As stated [in the documentation](https://github.com/aw1875/puppeteer-hcaptcha#known-issues) the tensorflow messages are nothing to worry about and shouldn't have an impact on how the project functions. Like I said, it did seem like I wasn't presented with an hCaptcha form when I visited the website you presented which could be why the functions are returning undefined. Are you still attempting to

[2022-05-09 22:12] yarekc opened #58 "Installing on windows"
Trying to install it on win11
[code]

[code]

[2022-05-10 15:18] aw1875 commented on #58
Please read the error stack. This is a TensorFlow error and you can see the problem right here:

[code]

[2022-05-10 15:18] #58 closed

[2022-05-19 21:39] tipsey commented on #56
I have the same issue.  Although about 25% of the time it does solve the hCaptcha.  I updated to Node.js v 18.1.0.  Anyone with a solution?

[2022-05-22 07:09] greebzon commented on #56
Hi. Same issue.

`const puppeteer = require("puppeteer-extra");
const pluginStealth = require("puppeteer-extra-plugin-stealth");
require('browser-env')();

const { hcaptcha } = require("puppeteer-hcaptcha");
puppeteer.use(pluginStealth())

async function start(){
    const browser = await puppeteer.launch({
        ignoreHTTPSErrors: true,
        headless: false,
        args: [
          `--wind

[2022-05-23 08:48] AryaAnish121 opened #59 "[Question]: Can I use it for discord.com"
So, can I use it for discord.com (it's for educational purpose)

[2022-05-23 15:47] aw1875 commented on #59
Technically yes you can. I've seen others do it but I will not be providing any code for how it needs to be done or any approaches necessary to do so. Since it's for educational purposes that should be fun for you so I wish you luck!

[2022-05-23 15:47] #59 closed

[2022-05-23 15:51] aw1875 commented on #56
@greebzon the `objectLocalization` is only related to Google Cloud Vision which is no longer included in any of the newer versions of the package. I will be closing this issue now as it seems like all the posts are related to an outdated version of the code which is not supported.

[2022-05-23 15:51] #56 closed

[2022-05-24 18:41] ErrorBot1122 opened #60 "[Bug]: Can't Install `puppeteer-hcaptcha`"
## **Describe the bug**
### A clear and concise description of what the bug is.

Everytime I try to install this package, it shows an error and cancels the install

## **To Reproduce**
### Steps to reproduce the behavior:

1. Code block(s) with your code.

[code]

2. Description of your files hierarchy (either a photo or markdown).

![image](https://user-images.githubusercontent.com/65428515/17010

[2022-05-25 17:30] aw1875 commented on #60
@ErrorBot1122 this seems like an issue related to TensorFlow and not this module. You may want to explore their issues section in their GitHub repo for answers (I recommend starting [here](https://github.com/tensorflow/tfjs/issues/711)). Unfortunately this isn't something I can fix as it's not related to my code at all so I will be closing this issue.

[2022-05-25 17:30] #60 closed

[2022-05-25 17:31] aw1875 commented on #27
Haven't heard anything about this for a few months so will be closing this issue. You can open a new issue if there is anything I can fix on my end.

[2022-05-25 17:32] aw1875 commented on #34
Haven't heard anything about this for a few months so will be closing this issue. You can open a new issue if there is anything I can fix on my end.

[2022-05-25 17:32] aw1875 commented on #35
Seems like there isn't anyone that is able to answer this so I will be closing this issue now due to lack of activity in the thread.

[2022-05-25 17:32] #35 closed

[2022-05-25 17:33] aw1875 commented on #41
Haven't heard anything about this for a few months so will be closing this issue. You can open a new issue if there is anything I can fix on my end.

[2022-05-25 17:33] #41 closed

[2022-05-25 17:34] #43 closed

[2022-05-25 17:34] aw1875 commented on #47
Haven't heard anything about this for a few months so will be closing this issue. You can open a new issue if there is anything I can fix on my end.

[2022-05-25 17:34] #47 closed

[2022-05-25 17:34] aw1875 commented on #48
Haven't heard anything about this for a few months so will be closing this issue. You can open a new issue if there is anything I can fix on my end.

[2022-05-25 17:34] #48 closed

[2022-05-25 17:35] #52 closed

[2022-05-25 17:35] #53 closed

[2022-05-25 17:35] #55 closed

[2022-06-01 13:27] FuckingToasters commented on #3
- Manually register a discordaccount.
- Open devconsole by pressing F12 & visit the Network tab. t
- Maunually solve the captcha and find the requests it do in Network Tab.
- You'll find a request to the hcaptcha site with the captchatoken.
- You can get the captchatoken by using the captchatools libary.
- Do the same post request to the api using the captchatoken within discord.

I'm not at home

[2022-06-02 12:50] Evolgate commented on #3
@FuckingToasters It would be nice to see some code, better even for python as on discord there is a hcaptcha without submit button when logging in. I get my token from 2captcha but no idea how to submit it

Help highly appreciated

[2022-06-02 14:00] aw1875 commented on #3
It seems like a lot of people struggle with trying to submit a page without a submission button so I may push a new update that will do it for you (prefer not to thought). A really simple solution is exactly what @FuckingToasters explained and can be accomplished with realistically one line of code in javascript.

An example code block using puppeteer would be:
[code]

https://user-images.githubus

[2022-06-03 16:49] Evolgate commented on #3
Thanks for the reply, when I put __grecaptcha_cfg.clients into the console it says:
[code]

[2022-06-03 17:39] FuckingToasters commented on #3
you need to run when the captcha is located on page i guess

[2022-06-03 18:10] Evolgate commented on #3
I do, but sadly it does always error, would you midn trying it yourself?
https://discord.com/login

[2022-06-03 19:38] FuckingToasters commented on #3
I'm currently working on a registrator. i'm not on captcha page so far

[2022-06-04 05:42] Evolgate commented on #3
So this `document.getElementById('anycaptchaSolveButton').onclick('TOKEN');` seems to do something when following this [Bypass HCaptcha with Callback](https://docs.anycaptcha.com/extensions/bypass-hcaptcha-funcaptcha-callback-with-extension) tutorial. But it errors in
`
Uncaught
N {cause: 'invalid-captcha-id', message: 'Invalid hCaptcha id: 0kiqjsyvldr'}
`
Maybe someone managed to make it work?

[2022-06-04 05:55] Evolgate commented on #3
Also there is [this](https://www.youtube.com/watch?v=CfwN2Cj-cuY) youtube tutorial, anyone understands it and could share if it works and how if yes?

[2022-06-04 07:05] FuckingToasters commented on #3
Yo i got great news fr you guys. It is not difficult to solve it.
[code]

Good Luck with it :)

[2022-06-05 16:53] aw1875 commented on #3
Interesting, I may look into a javascript alternative for this for anyone attempting to submit the page this way in a javascript project. Glad to hear you were able to get it working thought.

[2022-06-05 17:09] FuckingToasters commented on #3
I'm not really familiar with JS but i'm 100% sure that in js there is also a function which execute javascriptcode in the browser. this should work there too.

[2022-06-05 17:12] aw1875 commented on #3
Ya in puppeteer the `await page.evaluate(() => { code here });` function can be used for evaluating javascript code in the browser. The only part of your code I think would be difficult is obtaining the function via the `__reactProps` command because realistically the element changes each time you load the page. For example, this is one example of the element `document.querySelector('iframe').pare

[2022-06-06 09:22] FuckingToasters commented on #3
Oh okay. Well the code that i sent which is able to solve captchas works fine even if the ID changes i guess.

[2022-06-13 18:45] dave-uni commented on #3
I am having a similar issue when submitting an hcaptcha token in discord. But not when registering an account reather when joining an hcaptcha protected server like this one: https://discord.gg/undw3
I used ur suggested onVerify() function to submit the captcha request. However I always get an captcha required response error:
[code]
Even though the captcha key is within the payload of the request.

[2022-06-14 18:24] FuckingToasters commented on #3
I'm not sure and not tried following info but it might help you a bit.
Before i sent the code which solve hcaptcha on discord registration website, there was a discussion using the callback function. This might help you on the page when joining the Server. Quate to which message im refering to below:

[2022-06-16 13:47] dadodasyra opened #61 "[Question]: Is it still alive ?"
I'm currently trying to use the extension has showed in the ReadMe (with the autofill). It seems to partially work, like 1 on 4 times. I saw that sometimes the token returned is undefined.
So I tried to debug it a little bit and found that there was an error 400 Bad request. And in this case the code doesnt seems to try to retry the captcha complete but return an undefined token
[code]

[2022-06-16 14:14] dadodasyra commented on #61
After more digging I found that it freeze on `https://hcaptcha.com/checkcaptcha/${key}?s=${sitekey}` https://github.com/aw1875/puppeteer-hcaptcha/blob/master/hcaptcha.js#L285

[2022-06-16 14:17] dadodasyra commented on #61
And the error is catched here https://github.com/aw1875/puppeteer-hcaptcha/blob/master/hcaptcha.js#L285. Maybe we should trigger a retry, and at least search a little bit why we're getting a 400 bad request

[2022-06-16 14:21] dadodasyra commented on #61
And btw some times the waitForSelector line 347 some times just get stuck, even if the captcha is loaded

[2022-06-17 02:18] aw1875 commented on #61
I've been quite busy so haven't really taken a look at hCaptcha but after a quick inspection of the code it looks like the issue is related to the TensorFlow model not correctly identifying the images. Right now the entire answer block comes back as false every time I run the code. So, when I have a little more free time I'll try to dive into that and see exactly what is happening there.

[2022-06-23 06:34] aw1875 commented on #61
@dadodasyra Ran some more tests today and it looks like they seem to be passing now. Not sure if there is really anything I can do aside from training my own model or finding a better source for the image recognition. I'm going to close this issue now but if you have any alternative solutions for the image recognition please let me know.

[2022-06-23 06:34] #61 closed

[2022-07-13 01:36] ayd0ns opened #63 "[Question]: how do you fix returning undefined?"
Captcha returns undefined for me.

[2022-07-13 01:38] aw1875 commented on #63
Gonna need a little more context to attempt to troubleshoot this

[2022-07-13 17:11] ayd0ns commented on #63
instead of returning a captcha key or anything, just returns undefined

[2022-07-13 23:10] aw1875 commented on #63
Yes I understand that part. What domain are you trying? What does your script look like? File structure? Check out the bug report template for some ideas of what might help me out. Its possible that the model is just having issue with the images but I need to know exactly what to look for here.

[2022-07-14 14:34] Octacord92 opened #64 "I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations: AVX2 To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags."

[2022-07-14 15:41] aw1875 commented on #64
This is more of something you’d want to ask in the Tensorflow repo. Check out their issues section if this is an issue you’re facing.

[2022-07-14 15:41] #64 closed

[2022-07-28 17:39] roralsorom opened #66 "[Question]: Hello, how do I fix this install error"
[code]

[2022-08-02 00:20] roralsorom commented on #63
hello @aw1875 this is my code
i dont see anything wrong
**_// Require our hcaptchaToken method
const { hcaptchaToken } = require("puppeteer-hcaptcha");

(async () => {
    // Create Start Time
    const startTime = Date.now();

    // Call hcaptchaToken method passing in your url
    let token = await hcaptchaToken("https://shimuldn.github.io/hCaptchaSolverApi/demo_data/demo_sites/2/");

    // Ge

[2022-08-02 04:18] aw1875 commented on #63
@roralsorom what issue are you having?

[2022-08-02 04:21] aw1875 commented on #66
I'm assuming you already solved this issue but the actual problem is laid out fairly clearly in the stack trace (trust my I understand theres a lot going on here lol). This is the issue:

[code]

Tensorflow using tools from the Visual Studio C++ toolchain to build so they are required for the installation of Tensorflow.

[2022-08-02 04:21] #66 closed

[2022-08-02 04:29] aw1875 commented on #63
I walked through the code step by step for the given url and got an appropriate response
![image](https://user-images.githubusercontent.com/4970015/182291804-3d55e162-6bc1-4e65-8940-1293ee81acfb.png)

So if it's some other issue please let me know so I can look into it.

[2022-08-06 15:47] 1iPluto opened #67 "I cant install the package"
npm ERR! node-pre-gyp ERR! stack     at ChildProcess.<anonymous> (C:\Users\Administrator\Desktop\Discord-Token-Generator-main\node_modules\@mapbox\node-pre-gyp\lib\util\compile.js:89:23)
npm ERR! node-pre-gyp ERR! stack     at ChildProcess.emit (node:events:527:28)
npm ERR! node-pre-gyp ERR! stack     at maybeClose (node:internal/child_process:1092:16)
npm ERR! node-pre-gyp ERR! stack     at Proce

[2022-08-06 15:48] aw1875 commented on #67
Make sure you have Visual Studio C++ build tools

[2022-08-06 16:59] aw1875 commented on #67
Regardless, this is more of a tensorflow issue so I'll be closing this.

[2022-08-06 16:59] #67 closed

[2022-08-08 23:36] aw1875 commented on #63
I'm going to close this now as I haven't heard anything in over a week. If you still require help you can comment on this again or open a new issue.

[2022-08-08 23:36] #63 closed

[2022-08-17 12:54] Utsav-2345 opened #68 "[Question]: Continuously getting error "Wrong Response, Retrying""
[code]

I tried to test this project on a simple hcaptcha demo website but i keep getting error "Wrong Response, Retrying"

[2022-08-17 14:55] aw1875 commented on #68
The image recognition struggles quite a bit with the blurred/pixelated images that hCaptcha is using currently and I haven't really found a solution for that. It does work still but it takes quite a few attempts sometimes. You can try pulling down the [typescript branch](https://github.com/aw1875/puppeteer-hcaptcha/tree/typescript) and running the code that way as there is an optional parameter fo

[2022-08-17 14:59] aw1875 commented on #68
If you go this route, it should be a little more clear what the actual issue is. I've been noticing that during most tests the ML model is unable to classify the image so its returning blank answers so if you get an error message like "Failed to get answers" thats why. For the same reason, sometimes it is able to classify them but not as accurately as we'd like so it will fail when checking the an

[2022-08-21 20:13] aw1875 commented on #68
I'm going to close this issue as I haven't heard anything in a few days. If you have any other questions you may open a new issue.

[2022-08-21 20:13] #68 closed

[2022-09-16 16:33] aw1875 commented on #54
@wireguard-dev last I looked yolov5 is only for python (unless I missed something). I have an issue template created for suggestions for alternatives that I setup a few weeks ago but at this time there isn't much I can change without doing a massive overhaul.

[2022-09-22 06:07] qlaffont opened #69 "[Bug]: Seems not to work with cloudflare implementation of hcaptcha"
**Describe the bug**
Hcaptcha is not resolved.

**To Reproduce**
[code]

[2022-09-26 16:24] aw1875 commented on #69
I checked out the link you're trying to use it on (https://streamscharts.com/) and I didn't even see any captcha data on the page, so not entirely sure what you're expecting?

[2022-09-26 17:20] qlaffont commented on #69
Sorry forgot to close this issue. I have explained everything here for the bug : https://github.com/berstend/puppeteer-extra/issues/714

[2022-09-26 17:20] #69 closed

[2022-10-05 11:08] chickmy opened #70 "[Question]:invalid, unusable"
[code]
Prompt error:
![image](https://user-images.githubusercontent.com/42132304/194046818-80202991-e567-4fb2-83ab-68ebed68ff3c.png)

[2022-10-06 00:49] aw1875 commented on #70
That just means it got the images wrong. hCaptcha has started to change so either their images are blurry/pixelated now or the tasks are much more in-depth and the image recognition being used struggles with it sometimes. Unfortunately there isn't much I can do currently unless there is a better image model to use.

[2022-10-06 00:49] #70 closed

[2022-10-12 14:12] galaczi opened #71 "[Bug]: Captcha not solved"
**Describe the bug**
``await hcaptcha(page)`` doesn't solve catpcha. On submission I get an error saying hCaptcha must be checked.

**To Reproduce**
Steps to reproduce the behavior:
1. Code block(s) with your code.

Example:

[code]
2. Description of your files hierarchy (either a photo or markdown).

Not applicable. Only have `` index.js`` and ``sleep.js`` in the same folder.

3. Any other steps

[2022-10-19 20:50] galaczi commented on #71
I also tried with the example provided in the repo and got **hCaptcha solved incorrectly, please try again**.

Code:

[code]

[2022-10-19 22:36] aw1875 commented on #71
Sorry been busy with interview prep, I'll set some time aside to take a read through this on the weekend.